/* Figure */

figure {
    align-items: center;
    margin: 80px 0;
}
figure * {
    margin-bottom: 5px;
}
figure h1 {
    font-size: var(--header1);
    color: var(--text-true-blue);
    font-family: var(--sub-family);
    font-weight: bold;
}
figure figcaption {
    color: var(--text-light-blue);
    text-shadow: 1px 1px 2px var(--text-true-blue);
}
aside img {
    position: relative;
    border-radius: 50%;
    width: 300px;
    border: 5px solid var(--page-true-blue);
    box-shadow: 0 0 5px 5px var(--text-true-blue);
    z-index: -2;
}

nav ul li a {
    color: var(--page-true-blue);
    font-weight: 900;
    font-size: 1.3rem;
}

/* NAVIGATION */
nav {
    margin-bottom: 100px;
    padding: 50px 120px;
}
nav li {
    margin: 10px 0;
}
nav li:hover {
    text-decoration: underline;
    animation: appear 1s;
}

/* FOOTER */
footer {
    align-items: center;
    font-size: 1.3rem;
    padding: 0 50px 20px 60px;
}
footer h4 {
    color: var(--page-aqua-blue);
}
footer ul li {
    margin: 4px;
}
footer ul li i {
    color: var(--page-true-blue);
    cursor: pointer;
}
footer ul li i:hover {
    text-shadow: 0 0 3px var(--text-true-blue);
}

/* Introduction Page specific styling */
.nav-list-dir {
    justify-content: space-between;
}
.portfolio-nav {
    text-align: end;
}
.directory li a {
    font-size: 1rem;
}
#project-history a {
    font-size: 1.3rem;
}
#project-history:hover {
    animation: none;
    text-decoration: none;
}
.aside-portfolio {
    position: sticky;
    top: 0;
}
.aside-portfolio nav {
    padding: 50px 20px 50px 120px;
}
section.sticky-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* animation keyframes */
@keyframes appear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

