/* Center content */
.grid-page-template {
    grid-template-columns: 1fr;
}.contact-content {
    align-items: center;
}

/* Main section style */
.contact-me-content * {
    margin-bottom: 10px;
}.contact-me-content section {
    margin-top: 30px;
}.contact-me-content {
    padding: 80px 50px 140px 50px;
    width: 500px;
    background-color: var(--white);
    box-shadow: 12px -15px 15px -4px rgba(31, 73, 125, 0.8), -12px -15px 8px -4px rgba(31, 73, 125, 0.8);
}.contact-h2 {
    font-size: var(--jumbo);
    color: var(--text-true-blue);
    text-shadow: 1px 1px 2px var(--text-aqua-blue);
    justify-content: center;
}.contact-me-content p {
    text-align: center;
}.contact-me-content .top-list {
    align-items: center;
}.top-li-sec {
    justify-content: center;
}.top-li-sec a:hover {
    color: var(--text-aqua-blue);
}


/* styling of social links */
.contact-left {
    padding-right: 25px;
    font-weight: bold;
    text-align: end;
}.contact-me-list {
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
} .contact-nav {
    padding: 10px 0 0 0;
    justify-content: center;
}.cont-fa {
    display: inherit;
    color: var(--text-true-blue);
}

/* change to full screen for content */
@media (max-width: 1000px) {
    .contact-me-content {
        height: 100vh;
    }
}

/* Reduce screen size for smaller devices */
@media (max-width: 550px) {
    nav {
        padding: 0;
    }
    .contact-me-content {
        padding: 5px;
        width: 100%;
    }
    .contact-me-content h2 {
        font-size: 2rem;
    }
    .top-list {
        flex-wrap: wrap;
    }
    .top-list li, .top-list i .top-list a {
        font-size: 0.6rem;
    }
    .contact-me-list {
        justify-content: space-around;
    }
}