/* Background Image */
body {
    position: relative;
    z-index: 0;
}
body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../images/Untitled-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    position: relative;
}
main * {
    z-index: 1;
}
.main-content {
    background: rgba(255, 255, 255, 0.5);
    border-left: 5px double var(--text-true-blue);
}

/* Hero */
.hero {
    padding: 150px 50px;
}
.hero h2, .hero h3 {
    margin-bottom: 10px;
}
.hero h2 {
    font-size: var(--jumbo);
    color: var(--text-true-blue);
    text-shadow: 1px 1px 2px var(--text-aqua-blue);
}
.hero h3 {
    font-size: var(--header3);
    color: var(--text-light-blue);
    text-shadow: 1px 1px 2px var(--text-true-blue);
}
.hero ul {
    margin: 50px 0;
}
.hero button {
    background-color: var(--text-true-blue);
    width: 30%;
    margin-top: 50px;
    padding: 10px 30px;
    border: 3px groove var(--white);
}
.hero button:hover {
    cursor: pointer;
    box-shadow: 0 0 6px var(--text-true-blue);
}
.hero-navigation li button a {
    color: var(--text-light-blue);
    font-size: 1.3rem;
}
.hero-navigation li button a:hover {
    text-shadow: 0 0 3px var(--white);
}

@media (max-width: 1000px) {
    .hero button {
        width: 60%;
    }
}

@media (max-width: 790px) {
    .main-content {
        background-color: transparent;
    }
    .hero {
        background: rgba(16, 50, 105);
    }
    .hero h2 {
        font-size: var(--jumbo);
        color: var(--text-aqua-blue);
        text-shadow: 1px 1px 4px var(--text-aqua-blue);
    }
}

@media (max-width: 400px) {
    .header-image h1 {
        text-align: center;
    }
    .main nav {
            margin-bottom: 0px;
            padding: 20px 10px;
    }
    .header-list {
        flex-direction: row;
        justify-content: space-around;
    }
    .hero {
        text-align: center;
        padding: 30px 5px;
    }
    .hero h2 {
        font-size: 2rem;
    }
    .hero h3 {
        font-size: 0.9rem;
    }
    .hero ul {
        margin: 0;
    }
    .hero button {
        margin-top: 10px;
        border: 1px solid var(--white);
        width: 90%;
    }
    .hero-navigation li button a {
        font-size: 0.9rem;
    }
}