* {
	margin: 0;
	padding: 0;
    border: none;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
ul, ul li, a {
	text-decoration: none;
}
button {
	border: none;
	color: white;
	background-color: white;
	background: white;
}

