@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;1,400;1,700;1,900&display=swap');

:root {
    /* color palette */
    --page-true-blue: #3066BE;
    --text-true-blue: #1a3662;
    --page-aqua-blue: #119DA4;
    --text-aqua-blue: #119DA4;
    --page-gray-blue: #6D9DC5;
    --text-gray-blue: #6D9DC5;
    --page-light-blue: #80DED9;
    --text-light-blue: #80DED9;
    --page-lightaqua-blue: #AEECEF;
    --text-lightaqua-blue: #AEECEF;
    --black: #000;
    --white: #fff;

    /* font sizes */
    /* headers */
    --header1: 2.5rem;
    --header2: 2rem;
    --header3: 1.6rem;
    --header4: 1.3rem;
    --header5: 1rem;

    /* all */
    --jumbo: 3.5rem;
    --large: 3rem;

    /* fonts */
    --main-family: 'Roboto Slab', serif;
    /* header and footer */
    --sub-family: 'Source Sans Pro', sans-serif;

    font-family: var(--main-family);
}

/* flex classes for tags */
.flex {
    display: flex;
}.column{
    flex-direction: column;
}.wrap {
    flex-wrap: wrap;
}
/* grid classes for tags */
.grid {
    display: grid;
}.grid-page-template {
    grid-template-columns: 1fr 3fr;
}


/* class selectors */

/* Background Image */
body {
    position: relative;
    z-index: 0;
}
body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/horison.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*  */
main {
    position: relative;
    height: 100vh;
}
main * {
    z-index: 1;
}



@media (max-width: 1000px) {
    .main-content {
        display: flex;
        flex-direction: column;
    }
}
/* Changes grid layout to flex to stack on page for small screens */
@media (max-width: 790px) {
    .main {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 400px) {
    #horiseon img, #mini-project img, #choredoor img {
        width: 100%;
        height: 0 auto;
    }
    .project-text, .project-summary {
        align-items: center;
        margin-bottom: 20px;
    }
    h2.timeline-header {
        font-size: 2.5rem;
        text-align: center;
    }
    .project-text li, .project-text p {
        font-size: 0.8rem;
    }
}